.body{
    color: #434455;
    font-family: 'Roboto', sans-serif;
}

.list{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;

}

.list:hover {
    color:#404bbf;
}

.list:focus {
    color:#404bbf;
}
.web{
    font-size: 18px;
    font-weight: 800;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.link{
    text-decoration: none;
}

.studio{
    font-size: 18px;
    font-weight: 800;
    color: #2E2F42;
}

.adress{
    list-style: none;
    font-style: normal;
    font-weight: 400;
    color:#434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}